.flame .hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.flame h1 {
  font-size: 100px;
}

.flame a {
  text-decoration: none;
  margin: 20px;
}

.highlight {
  background: rgba(255, 255, 255, 0.3);
}
